body {
  font-family: 'Source Sans Pro', sans-serif; }

h1 {
  font-weight: bold;
  margin: 12px 0;
  padding: 0 12px;
  max-width: 520px; }

p {
  padding: 5px 12px; }

.section > div {
  padding: 25px; }

.section h2 {
  font-weight: bold;
  padding: 0 12px;
  margin: 10px 0; }

.section.rose {
  background-color: #ffefd3;
  background: -moz-linear-gradient(135deg, #ffefd3 0%, #fcdece 53%, #fdab93 100%);
  background: -webkit-linear-gradient(135deg, #ffefd3 0%, #fcdece 53%, #fdab93 100%);
  background: linear-gradient(135deg, #ffefd3 0%, #fcdece 53%, #fdab93 100%); }

.section.quora {
  background-color: #B92B27;
  background: -moz-linear-gradient(135deg, #ffccca 0, #e4736e 53%, #B92B27 100%);
  background: -webkit-linear-gradient(135deg, #ffccca 0, #e4736e 53%, #B92B27 100%);
  background: linear-gradient(135deg, #ffccca 0, #e4736e 53%, #B92B27 100%); }

.section.ecommerce {
  background-color: #107bb9;
  background: -moz-linear-gradient(135deg, #cad1ff 0, #8e96f5 53%, #107bb9 100%);
  background: -webkit-linear-gradient(135deg, #cad1ff 0, #8e96f5 53%, #107bb9 100%);
  background: linear-gradient(135deg, #cad1ff 0, #8e96f5 53%, #107bb9 100%); }
